# V-XENT Configuration
# Get your keys at:
# Shodan: https://account.shodan.io/
# VirusTotal: https://www.virustotal.com/gui/user/username/apikey

SHODAN_API_KEY=your_shodan_api_key_here
VT_API_KEY=your_virustotal_api_key_here

# Scanner Settings
RATE_LIMIT_QUERIES=1
RATE_LIMIT_PERIOD=1
DEBUG=False
