# Environment variables
.env
.env.secret
secrets/

# Python Virtual Environments
venv/
env/
.venv/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Reports Output
output/*.json
output/*.html
!output/.gitkeep

# Other tools
.DS_Store
.vscode/
.idea/
